@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Database Web-App</h1>
    <h5>Please Login to view the Cyber Security Breaches in 2016, in our Database!</h5>
</div>

